<a routerLink="/about-us" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
  </svg> voltar
</a>



<!-- <a routerLink="/about-us" class="mx-14 text-blue-500 "> voltar</a> -->
<div class="max-w-5xl mx-14 mt-8 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="">
    <p class="text-sm"><span class="text-lg font-bold">Actividade:</span> Visita ao Lar dos Idosos</p>
    <p class="text-sm"><span class="text-lg font-bold">Local:</span> Lar Josina Machel</p>
    <p class="text-sm"><span class="text-lg font-bold">Data:</span> 22/08/24</p>
  </div>
  <div class="mt-5">
    <p class="text-lg font-bold">Descrição</p>
    <p class="text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In id fugiat maxime aut inventore quia sint expedita iusto, facilis harum consectetur similique facere eaque tenetur eligendi amet voluptate aliquam labore.
    Eaque non aperiam officiis aliquam velit placeat repellat neque quod amet adipisci laboriosam ratione quos qui distinctio, tempore libero ea officia dolor rerum aliquid id consequatur. Repellat officia consequuntur alias?
    Voluptates quas voluptatem quod enim ratione praesentium ipsum amet, ea harum id et hic accusamus eum perspiciatis vel omnis commodi nulla eos cupiditate cumque? Explicabo consequatur odit id beatae ipsa!
    Accusamus nulla eum commodi ab? Facere dolore excepturi qui laboriosam, laborum hic dolorum. Fugiat aliquam, expedita ut tempore adipisci facere quaerat! Ex assumenda dicta numquam vero delectus, consequatur quidem harum?</p>
  </div>

</div>
