<div class="mt-4 bg-no-repeat bg-center bg-cover h-96 max-h-96 w-full" style="background-image: url(assets/images/under/actividade.jpg); background-color: bg-brave-purble;">
<!-- <div class="w-full h-full bg-brave-purble bg-opacity-50 brightness-200 contrast-100 saturate-150"></div> -->
</div>

<section class="h-screen flex flex-col justify-center pl-36">
<h1 class="mb-4 text-5xl font-bold text-brave-purble">Clube dos <span class="px-2 text-brave-magenta">colaboradores</span></h1>

<!-- <p></p>
  Através de eventos sociais, atividades de team building e iniciativas de voluntariado, buscamos cultivar um senso de comunidade e camaradagem.
  Nosso objetivo é não apenas melhorar a experiência dos colaboradores, mas também aumentar
  a produtividade e o bem-estar no local de trabalho. Juntos, estamos construindo uma cultura empresarial baseada na solidariedade e no apoio mútuo. -->


<p class="mt-8 font-light w-2/3">O Clube de Colaboradores da nossa empresa foi criado com o propósito de fortalecer os laços entre os funcionários, promovendo um ambiente de trabalho mais harmonioso e colaborativo.</p>
<p class="mt-5 font-light w-2/3">Nosso objetivo é não apenas melhorar a experiência dos colaboradores, mas também aumentar
  a produtividade e o bem-estar no local de trabalho. Juntos, estamos construindo uma cultura empresarial baseada na solidariedade e no apoio mútuo.</p>
</section>

<section class="flex flex-col">
  <h2 class="text-4xl font-bold text-center text-brave-purble dark:text-white">Plano de <span class="px-2 text-brave-magenta">Actividades</span></h2>

  <ol class=" mt-12 self-center relative border-s border-brave-purble dark:border-gray-700">
    <app-activity-card
      name="Show do Toto ST"
      data="24 de Fevereiro 2024"
      pre_content="Colaboradores aniversáriantes do mês de Fevereiro foram presenteados..."
    ></app-activity-card>

    <app-activity-card
      name="Dia das Mulheres"
      data="8 de Março 2024"
      pre_content="Mês dedicado as Mulheres"
    ></app-activity-card>
    <app-activity-card
      name="Aniversário da Empresa"
      data="25 de Abril 2024"
      pre_content="Colaboradores aniversáriantes do mês de Fevereiro foram presenteados..."
    ></app-activity-card>
    <app-activity-card
      name="Festa de Final de Ano da Empresa"
      data="25 de Abril 2024"
      pre_content="Noite dedicada a festa de final de ano da empresa."
    ></app-activity-card>
  </ol>
</section>
