<section>

<!-- <img class="h-auto max-w-full" src="../../../assets/images/under/photo-of-people-doing-handshakes-3183197.jpg" alt="image description"> -->
<div class="bg-no-repeat bg-center bg-cover h-96 max-h-96 w-full mt-4" style="background-image: url(../../../assets/images/under/union_.jpg);"></div>

<a class="block max-w-sm py-6 bg-white hover:cursor-pointer dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Quem Somos</h5>
  <p class="font-normal text-gray-700 dark:text-gray-400">Somos um grupo de colaboradores, responsáveis pela criação de atividades e programas que atendam às necessidades e interesses dos colaboradores, contribuindo para o equilíbrio entre trabalho, vida pessoal e enriquecer a vida cultural.</p>
</a>

<div class="flex justify-between h-96">

  <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <p class="uppercase">Visão</p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Qual é o nosso propósito</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Trazer inovação e criatividade dentro da empresa, com o objetivo de ajudar no desenvolvimento profissional dos colaboradores, criando um ambiente de trabalho inspirador e engajador.</p>
  </a>

  <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <p class="uppercase">Missão</p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Qual é o nosso propósito</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Promover relações interpessoais entre os colaboradores,  que estimulem o crescimento individual, criatividade e o desempenho na realização das suas funções.</p>
  </a>
</div>

<section class="flex flex-col">

  <h2 class="text-4xl font-bold text-center dark:text-white">Plano de Actividades</h2>

  <ol class="self-center relative border-s border-gray-200 dark:border-gray-700">
    <app-activity-card
      name="Show do Toto ST"
      data="24 de Fevereiro 2024"
      pre_content="Colaboradores aniversáriantes do mês de Fevereiro foram presenteados..."
    ></app-activity-card>

    <app-activity-card
      name="Dia das Mulheres"
      data="8 de Março 2024"
      pre_content="Mês dedicado as Mulheres"
    ></app-activity-card>
    <app-activity-card
      name="Aniversário da Empresa"
      data="25 de Abril 2024"
      pre_content="Colaboradores aniversáriantes do mês de Fevereiro foram presenteados..."
    ></app-activity-card>
    <app-activity-card
      name="Festa de Final de Ano da Empresa"
      data="25 de Abril 2024"
      pre_content="Noite dedicada a festa de final de ano da empresa."
    ></app-activity-card>
  </ol>
</section>

  <section class="flex gap-8">
    <app-colaborator-card
      name="Avelino Gonzaga"
      role="Sistemas"
    ></app-colaborator-card>
    <app-colaborator-card
      name="Edvânia do Carmo"
      role="Sistemas"
    ></app-colaborator-card>
    <app-colaborator-card
      name="Adamastor Chimalange"
      role="Software Develop"
    ></app-colaborator-card>
    <app-colaborator-card
      name="Nadinho Dua"
      role="Sistemas"
    ></app-colaborator-card>
    <app-colaborator-card
      name="Margarida Cangongo"
      role="Sistemas"
    ></app-colaborator-card>

  </section>

</section>
