<div class="w-full mt-10">
  <div class="publisher-info-container flex gap-3 my-4 mx-48">
    <img class="w-10 h-10 rounded-full" src="../../../assets/images/colaboradores/ada.jpg" alt="Rounded avatar">
    <div class="puublisher-info">
      <p class="text-fuchsia-900 text-sm">Adamastor Chimalange</p>
      <p class="text-xs">Postado em 27/02/2024</p>
    </div>
  </div>
  <h3 class="text-4xl font-bold my-5 mx-48">Step-by-step guide to choosing great font pairs</h3>
  <p class="text-lg my-5 mx-48">Categoria</p>
  <img class="" src="../../../assets/images/under/futebol.jpg" alt="article foto">

  <div class="article-body-content mx-48 my-8">

    <p class="mb-3 text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
    <p class="text-gray-500 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>

    <p class="text-gray-500 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
    <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
    <p class="text-gray-500 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
    <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
    <p class="text-gray-500 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
    <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>

  </div>

  <section class="bg-neutral-70">
    <h3 class="text-lg font-medium text-gray-900 dark:text-white my-5">O que ler a seguir</h3>
    <div class="next-articles-container flex justify-between gap-5 ">
      <app-vertical-article-card></app-vertical-article-card>
      <app-vertical-article-card></app-vertical-article-card>
      <app-vertical-article-card></app-vertical-article-card>
    </div>
  </section>
</div>

